<!DOCTYPE html>
<html>
    <head>
    <head>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="searchArea">

          <script src="http://d3js.org/d3.v3.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
          <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          </script>
          <script type=text/javascript>
            $(function() {
              $('a#Plan').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/searchCourse', {
                  a: $('input[name="a"]').val(),
                  b: $('input[name="b"]').val()
                }, function(data) {
                  if(data.result != false) {
                    $("#planList").prepend(data.result + '<br>');
                  }
                });
                return false;
              });
              $('a#Completed').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/searchCourse', {
                  a: $('input[name="a"]').val(),
                  b: $('input[name="b"]').val()
                }, function(data) {
                  if(data.result != false) {
                    $("#completedList").prepend(data.result + '<br>');
                  }
                });
                return false;
              });
            });
          </script>

          <p><input type=text size=5 name=a>
          <input type=text size=5 name=b>

          <p><a href=# id=Plan>Plan</a>
          <p><a href=# id=Completed>Completed</a>










                </div>
                <div class="listsArea">




                    <div class="planList">
                        <h1 class="title"><center>Plan on Taking</center></h1>
                        <span id="planList">

                        </span>
                    </div>
                    </br>
                    <div class="completedList">
                        <h1 class="title"><center>Completed Courses</center></h1>
                        <span id="completedList">

                        </span>
                    </div>

                </div>
                <!-- <div class="ui-widget" style="margin-top:2em; font-family:Arial">
                    Result:
                    <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
                </div> -->

            </nav>
            <div class="div_RootBody" id = "tree">

            </div>
            <form name="theme" method="post" action="">
            <p>
            <input type="radio" name="theme" value="radio" onClick="changeColour('d')">Dark Theme
            <br>
            <input type="radio" name="theme" value="radio" onClick="changeColour('l')">Light Theme
            <br>
            </form>







        </div>

<script>

window.onload = alert(localStorage.getItem("storageName"));

var treeData = [
  {
    "name": "Graduation",
    "parent": "null",
    "radius": 10,
    "outline": "grey",
    "fill": "grey",
    "numChildrenNeeded": 2,
    "children": [
      {
        "name": "HiLvlInfo",
        "parent": "Graduation",
        "radius": 6,
        "outline": "grey",
        "fill": "grey",
        "numChildrenNeeded": 2,
        "children": [
          {
            "name": "CS3251",
            "parent": "HiLvlInfo",
            "radius": 5,
            "outline": "grey",
            "fill": "grey"
          },
          {
            "name": "CS4400",
            "parent": "HiLvlInfo",
            "radius": 5,
            "outline": "grey",
            "fill": "grey"
          },
          {
            "name": "CS4235",
            "parent": "HiLvlInfo",
            "radius": 5,
            "outline": "grey",
            "fill": "grey"
          }
        ]
      },
      {
        "name": "Intelligence",
        "parent": "Graduation",
        "radius": 7,
        "outline": "grey",
        "fill": "grey",
        "numChildrenNeeded": 2,
        "children": [
        {
          "name": "EI",
          "parent": "Intelligence",
          "radius": 6,
          "outline": "grey",
          "fill": "grey",
          "numChildrenNeeded": 2,
          "children": [
            {
              "name": "CS3630",
              "parent": "Intelligence",
              "radius": 6,
              "outline": "grey",
              "fill": "grey",
              "numChildrenNeeded": 1,
              "children": [
                {
                  "name": "CS3629",
                  "parent": "CS3630",
                  "radius": 5,
                  "outline": "grey",
                  "fill": "grey",
                }
              ]
            },
            {
              "name": "CS3790",
              "parent": "Intelligence",
              "radius": 6,
              "outline": "grey",
              "fill": "grey",
            },
            {
              "name": "PSY3040",
              "parent": "Intelligence",
              "radius": 6,
              "outline": "grey",
              "fill": "grey",
            }
          ]
        },
        {
          "name": "AtoI",
          "parent": "Intelligence",
          "radius": 6,
          "outline": "grey",
          "fill": "grey",
          "numChildrenNeeded": 2,
          "children": [
            {
              "name": "CS4650",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            },
            {
              "name": "CS4510",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            },
            {
              "name": "CS4731",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            },
            {
              "name": "CS4476",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            },
            {
              "name": "CS4635",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            },
            {
              "name": "CS4649",
              "parent": "HiLvlIntel",
              "radius": 5,
              "outline": "grey",
              "fill": "grey"
            }
          ] //end of intelchoicechildren
        }//end of hifillintel
      ]//end of intel children
    }//end of intel node
  ]
  }
];
// ************** Generate the tree diagram  *****************
var margin = {top: 20, right: 120, bottom: 20, left: 120},
  width = 960 - margin.right - margin.left,
  height = 500 - margin.top - margin.bottom;
var i = 0,
  duration = 750,
  root;
var tree = d3.layout.tree()
  .size([height, width]);
var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });
// var svg = d3.select("body").append("svg")
//  .attr("width", width + margin.right + margin.left)
//  .attr("height", height + margin.top + margin.bottom)
//   .append("g")
//  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var svg = d3.select("body")
  .append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .call(d3.behavior.zoom().on("zoom", function() {
    svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
  }))
  .append("g")
root = treeData[0];
root.x0 = width;
root.y0 = height/2;
update(root);
d3.select(self.frameElement).style("height", "500px");
function update(source) {
  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
    links = tree.links(nodes);
  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = width - (d.depth * 100); });
  // Update the nodes…
  var node = svg.selectAll("g.node")
    .data(nodes, function(d) { return d.id || (d.id = ++i); });
  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + source.x0 + "," + source.y0 + ")"; })
    .on("click", click);
  nodeEnter.append("circle")
    .attr("r", function(d) {return d.radius;})
    .style("stroke", function(d) {return d.outline;})
    .style("fill", function(d) {return d.fill;});
    // .attr("r", 1e-6)
    // .style("fill", function(d) { return d._children ? "lightgrey" : "#fff"; });
  nodeEnter.append("text")
    .attr("x", function(d) { return d.children || d._children ? d.radius + 5 : -1*d.radius - 5; }) // make this by radius and by length of name
    .attr("dy", ".35em")
    .attr("text-anchor", function(d) { return d.children || d._children ? "start" : "end"; })
    .text(function(d) { return d.name; })
    .style("fill-opacity", 1e-6);
  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
    .duration(duration)
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
  nodeUpdate.select("circle")
    .attr("r", function(d) {return d.radius;})
    .style("stroke", function(d) {return d.outline;})
    .style("fill", function(d) {// `TODO` can just do if (plan mode) -> replace d.taken with d.planned
      if(!d.numChildrenNeeded) {
        d.fill = "white"
      }
      else if(!d.taken) {
        d.fill = "red"
      }
      if(d.children) {
        num = 0;
        for(var i = 0; i < d.children.length; i++) {
          if(d.children[i].taken == 1) {
            num++;
          }
        }
        if(num >= d.numChildrenNeeded) {
          d.fill = "white"
        }
        else {
          d.fill = "red"
          d.taken = 0 //TODO be real careful about taking courses you don't have the prereqs satisfied for
        }
      }
      if(d.taken == 1) {
        d.fill = "green"
      }
      var reg = /\d/g;
      if(!reg.test(d.name)) {
        if(d.fill == "white") {
          d.fill = "green"
          d.taken = 1
        }
      }
      return d.fill;});
    // .attr("r", 10)
    // .style("fill", function(d) { return d._children ? "lightgrey" : "#fff"; });
  nodeUpdate.select("text")
    .style("fill-opacity", 1);
  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
    .duration(duration)
    .attr("transform", function(d) { return "translate(" + source.x + "," + source.y + ")"; })
    .remove();
  nodeExit.select("circle")
    .attr("r", 1e-6);
    console.log(source)
  nodeExit.select("text")
    .style("fill-opacity", 1e-6);
  // Update the links…
  var link = svg.selectAll("path.link")
    .data(links, function(d) { return d.target.id; });
  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
    .attr("class", "link")
    .attr("d", function(d) {
    var o = {x: source.x0, y: source.y0};
    return diagonal({source: o, target: o});
    });
  // Transition links to their new position.
  link.transition()
    .duration(duration)
    .attr("d", diagonal);
  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
    .duration(duration)
    .attr("d", function(d) {
    var o = {x: source.x, y: source.y};
    return diagonal({source: o, target: o});
    })
    .remove();
  svg.selectAll(".link")
    .style('stroke', function(d){
      return d.target.fill;
    })
  // Stash the old positions for transition.
  nodes.forEach(function(d) {
  d.x0 = d.x;
  d.y0 = d.y;
  });
}
// Toggle children on click.
// Take the user to course crituqe page
 function click(d) {
  //  d.taken = !d.taken
  //  while(d) {
  //    update(d)
  //    d = d.parent
  //  }
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
 }
</script>
    </body>
</html>