body {
    background-color: #3D3D3D;
}
nav {
    float: left;
    width: 25%;
    margin: 0;
}

/*.title {
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
}*/

tree {
    background-color: #000000;
    float: right;
    width: 75%;
    height: 900px;
    margin: 0;
}


.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

.button {

}

.blueButton {
    background-color: #D4E1F5;
}

.greenButton {
    background-color: #97D077;
}

.listsArea {
    padding-top: 30px;
    padding-bottom: 30px;
}

.planList {
    background-color: #D4E1F5;
    overflow: auto;
    min-height: 300px;
}


.completedList {
    background-color: #97D077;
    min-height: 300px;
    overflow: auto;
}
