<!DOCTYPE html>
<html>
    <head>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

          <script src="http://d3js.org/d3.v3.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
          <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          </script>
          <script type=text/javascript>
            $(function() {
              $('a#Plan').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/searchCourse', {
                  a: $('input[name="a"]').val(),

                }, function(data) {
                  if(data.result != false) {
                    $("#planList").prepend(
                      '<button type="button" onclick="removePlan($(this).context.innerHTML);$(this).remove();">' + data.result + '</button><br>'
                      );
                    nodes = tree.nodes(root).reverse();
                    for(node in nodes) {
                      console.log(nodes[node].classID)
                      if(nodes[node].classID == data.result){
                        nodes[node].planned = 1;
                        console.log(data.result + " is now planned");
                        update(root);
                      }

                    }
                  }
                });
                return false;
              });
              $('a#Completed').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/searchCourse', {
                  a: $('input[name="a"]').val(),

                }, function(data) {
                  if(data.result != false) {
                    $("#completedList").prepend(
                      '<button type="button" onclick="removeTaken($(this).context.innerHTML);$(this).remove();">' + data.result + '</button><br>'
                      );
                    nodes = tree.nodes(root).reverse();
                    for(node in nodes) {
                      console.log(nodes[node].classID)
                      if(nodes[node].classID == data.result){
                        nodes[node].taken = 1;
                        console.log(data.result + " is now taken");
                        update(root);
                      }

                    }


                  }
                });
                return false;
              });
              $('#btn-search').on('click', function(e) {

    e.preventDefault();
    $('#search').animate({width: 'toggle'}).focus();

  });
            });
          </script>

          </head>
    <body>
        <div style = "width: 300px; float: left; height: 900px; margin: 10px">
                <div class="searchArea">
          <p>
        <ul class="toolbar clearfix">
          <li><input type="search" id="search" placeholder="What are you looking for?" name=a></li>
          <li><button type="submit" id="btn-search"><span class="fontawesome-search"></span></button></li>
        </ul>

          <p><a href=# id=Plan>Plan</a>
          <p><a href=# id=Completed>Completed</a>
                </div>
                    <div class="planList">
                        <h1 class="title"><center>Plan on Taking</center></h1>
                        <span id="planList">
                        </span>
                    </div>
                    <div class="completedList">
                        <h1 class="title"><center>Completed Courses</center></h1>
                        <span id="completedList">
                        </span>
                    </div>
            <form name="theme" method="post" action="">
            <p>
            <input type="radio" name="theme" value="radio" onClick="changeColour('d')">Dark Theme
            <br>
            <input type="radio" name="theme" value="radio" onClick="changeColour('l')">Light Theme
            <br>
            </form>

        </div>
        <div style = "width : 800px; float: left; height: 900px; margin-left: 20px; margin-top:100px">
          <div class = "treeGraph", style = "float: left", id = "tree">
          </div>
        </div>


<script>
// ********** Load thread choices from local storage ***************
var threadOne = localStorage.getItem("threadOne");
var threadTwo = localStorage.getItem("threadTwo");
var threadCombo = localStorage.getItem("threadCombo");
console.log("Threads:", threadOne, threadTwo, threadCombo);
var string = "";
if (threadOne == "ai" || threadTwo == "ai") {
    // Do stuff
}
if (threadOne == "info" || threadTwo == "info") {
    // Do stuff
}
if (threadOne == "media" || threadTwo == "media") {
    // Do stuff
}
if (threadOne == "people" || threadTwo == "people") {
    // Do stuff
}
if (threadOne == "theory" || threadTwo == "theory") {
    // Do stuff
}
if (threadOne == "sysArch" || threadTwo == "sysArch") {
    // Do stuff
}
if (threadOne == "modSim" || threadTwo == "modSim") {
    // Do stuff
}
if (threadOne == "devices" || threadTwo == "devices") {
    // Do stuff
}



function removePlan(data) {
  nodes = tree.nodes(root).reverse();
  for(node in nodes) {
    var CS = data.substring(0, 2);
    var number = data.substring(2, data.length);
    console.log(CS+number)
    if(nodes[node].classID == (CS + number)){
      nodes[node].planned = 0;
      console.log(nodes[node].planned);
      console.log(data + " is now not planned");
      update(root);
    }
  }
}

function removeTaken(data) {
  nodes = tree.nodes(root).reverse();
  for(node in nodes) {
    var CS = data.substring(0, 2);
    var number = data.substring(2, data.length);
    console.log(CS+number)
    if(nodes[node].classID == (CS + number)){
      nodes[node].taken = 0;
      console.log(nodes[node].taken);
      console.log(data + " is now not taken");
      update(root);
    }
  }
}

// ************** Generate the tree diagram  *****************
var margin = {top: 20, right: 120, bottom: 20, left: 120},
  width = 960 - margin.right - margin.left,
  height = 750 - margin.top - margin.bottom;
var i = 0,
  duration = 750,
  root;
var tree = d3.layout.tree()
  .size([height, width]);
var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });
// var svg = d3.select("body").append("svg")
//  .attr("width", width + margin.right + margin.left)
//  .attr("height", height + margin.top + margin.bottom)
//   .append("g")
//  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var svg = d3.select("#tree")
  .append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .call(d3.behavior.zoom().on("zoom", function() {
    svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
  }))
  .append("g")





d3.json("/data", function(data){
    console.log(data);
     root = data;
    root.x0 = width;
     root.y0 = height/2;
     update(root);
 });

d3.select(self.frameElement).style("height", "750px");
function update(source) {
  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
    links = tree.links(nodes);
  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = width - (d.depth * 100); });
  // Update the nodes…
  var node = svg.selectAll("g.node")
    .data(nodes, function(d) { return d.id || (d.id = ++i); });
  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + source.x0 + "," + source.y0 + ")"; })
    .on("click", click);
  nodeEnter.append("circle")
    .attr("r", function(d) {return d.radius;})
    .style("stroke", function(d) {return d.outline;})
    .style("stroke-width", 2)
    .style("fill", function(d) {return d.fill;});
    // .attr("r", 1e-6)
    // .style("fill", function(d) { return d._children ? "lightgrey" : "#fff"; });
  nodeEnter.append("text")
    .attr("x", function(d) { return d.children || d._children ? d.radius + 5 : -1*d.radius - 5; }) // make this by radius and by length of name
    .attr("dy", ".35em")
    .attr("text-anchor", function(d) { return d.children || d._children ? "start" : "end"; })
    .text(function(d) { if(d.name){
      return d.classID}
      return d.classID; })
    .style("fill-opacity", 1e-6);
  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
    .duration(duration)
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
  nodeUpdate.select("circle")
    .attr("r", function(d) {return d.radius;})
    .style("stroke", function(d) {return d.outline;})
    .style("fill", function(d) {// `TODO` can just do if (plan mode) -> replace d.taken with d.planned
      if(!d.numChildrenNeeded) {
        d.fill = "white"
      }
      else if(!d.taken) {
        d.fill = "red"
      }
      if(d.children) {
        num = 0;
        for(var i = 0; i < d.children.length; i++) {
          if(d.children[i].taken == 1) {
            num++;
          }
        }
        if(num >= d.numChildrenNeeded) {
          d.fill = "white"
        }
        else {
          d.fill = "red"
          d.taken = 0 //TODO be real careful about taking courses you don't have the prereqs satisfied for
        }
      }
      if(d.taken == 1) {
        d.fill = "green"
      }
      var reg = /\d/g;
      if(!reg.test(d.classID)) {
        if(d.fill == "white") {
          d.fill = "green"
          d.taken = 1
        }
      }
      if(d.planned == 1) {
        d.fill = "blue"
      }
      return d.fill;});
    // .attr("r", 10)
    // .style("fill", function(d) { return d._children ? "lightgrey" : "#fff"; });
  nodeUpdate.select("text")
    .style("fill-opacity", 1);
  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
    .duration(duration)
    .attr("transform", function(d) { return "translate(" + source.x + "," + source.y + ")"; })
    .remove();
  nodeExit.select("circle")
    .attr("r", 1e-6);
    console.log(source)
  nodeExit.select("text")
    .style("fill-opacity", 1e-6);
  // Update the links…
  var link = svg.selectAll("path.link")
    .data(links, function(d) { return d.target.id; });
  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
    .attr("class", "link")
    .attr("d", function(d) {
    var o = {x: source.x0, y: source.y0};
    return diagonal({source: o, target: o});
    });
  // Transition links to their new position.
  link.transition()
    .duration(duration)
    .attr("d", diagonal);
  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
    .duration(duration)
    .attr("d", function(d) {
    var o = {x: source.x, y: source.y};
    return diagonal({source: o, target: o});
    })
    .remove();
  svg.selectAll(".link")
    .style('stroke', function(d){
      return d.target.fill;
    })
  // Stash the old positions for transition.
  nodes.forEach(function(d) {
  d.x0 = d.x;
  d.y0 = d.y;
  });
}
// Toggle children on click.
// Take the user to course crituqe page
 function click(d) {
   d.taken = !d.taken
   while(d) {
     update(d)
     d = d.parent
   }
   console.log("hwy")
  // if (d.children) {
  //   d._children = d.children;
  //   d.children = null;
  // } else {
  //   d.children = d._children;
  //   d._children = null;
  // }
  update(d);
 }
</script>
    </body>
</html>
